iw phy `iw dev wlan1 info | gawk '/wiphy/ {printf "phy" $2}'` interface add mon0 type monitor
ifconfig mon0 up
ifconfig mon0
sudo rm /etc/airodump/coba-01.csv
timeout -sHUP 24h airodump-ng mon0 -w /etc/airodump/coba --output-format csv < /dev/null