[Unit]
Description=dump to InfluxDb Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/airodump
ExecStart=/etc/airodump/run.sh
Restart=always

[Install]
WantedBy=multi-user.target