SCRIPTPATH="$( cd "$(dirname "$0")" ; pwd -P )"
cd "$SCRIPTPATH"
echo "source setup"
cd nexmon
make
echo "bcm43430a1/"

cd patches/bcm43430a1/7_45_41_46/nexmon/
make
make backup-firmware
make install-firmware

echo "nexutil"
cd "$SCRIPTPATH"
cd nexmon/utilities/nexutil/
make
make install
nexutil -m0
iw phy `iw dev wlan1 info | gawk '/wiphy/ {printf "phy" $2}'` interface add mon0 type monitor
ifconfig mon0 up
ifconfig mon0
lib_path=` modinfo brcmfmac | head -1 | awk '{print $2}'`
lib_path=$(dirname "${lib_path}")
echo "$lib_path"
mv "$lib_path/brcmfmac.ko" "$lib_path/brcmfmac.ko.orig"
cp  "$SCRIPTPATH"/nexmon/patches/bcm43430a1/7_45_41_46/nexmon/brcmfmac_4.14.y-nexmon/brcmfmac.ko "$lib_path/"
depmod -a
